{% if posts is empty%}
    <div class="alert alert-info text-center" role="alert">Nenhum grito ainda!? clique logo em "<span class="glyphicon glyphicon-bullhorn"></span> Shout!" ali no topo ;)</div>
{% endif %}

{% for post in posts %}
<div class="blog-post well">
  <p class="blog-post-meta"><a href="?shouter={{ post.shouter }}">{{ post.shouter }}</a>
      soltou o verbo em <a href="?when={{ post.when|date('Y-m-d')|url_encode }}">{{ post.when|date('d/m/Y') }}</a>
  </p>

  <blockquote>
    <p>{{ post.shout }}</p>
  </blockquote>
  {% include 'partials/tags.html.twig' with { 'tags': post.tags } %}
  <br />
  {% include 'partials/pitacos.html.twig' with { 'pitacos': post.pitacos, 'postid': post._id } %}
{#  {% include 'partials/like.html.twig' with { 'likes': post.likes } %}#}
</div>
{% endfor %}


